<div class="homepage-container">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h1>Welcome to my Personal Website</h1>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
            Join me as I take on programming challenges and Ideas through the creative use of chat GPT.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary">Learn more</button>
      </mat-card-actions>
    </mat-card>
    <br>
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h2>About Me</h2>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
            Meet Kevin Nguyen, a driven and ambitious software developer with a passion for learning and experimentation. With a background in various programming languages and frameworks, Kevin is constantly seeking new challenges and opportunities to improve his skills. But what sets Kevin apart from his peers is his unique approach to building his personal website. Instead of relying solely on traditional coding methods, Kevin has integrated the use of Chat GPT, a cutting-edge AI language model, to assist in the creation of his website. This innovative approach not only showcases Kevin's technical abilities but also his forward-thinking mindset, making him a valuable asset to any team        </p>
      </mat-card-content>
    </mat-card>
    <br>
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h2>My Picture</h2>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <img src="\assets\Personal.jpg" alt="My Picture" class="image-size">
      </mat-card-content>
    </mat-card>
  </div>
  