<header>
  <mat-toolbar color="primary">
    <a mat-button routerLink="/homepage">Home</a>
    <a mat-button routerLink="/about">About</a>
    <a mat-button routerLink="/contact">Contact</a>
    <span class="spacer"></span>
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user icon">account_circle</mat-icon>
  </mat-toolbar>
</header>
<main>
  <router-outlet></router-outlet>
</main>
<footer>
  <mat-toolbar color="accent">
    <p>Copyright © 2022, My Personal Website</p>
  </mat-toolbar>
</footer>
